* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 72rem 1fr;
  grid-template-rows: 14.4rem 1fr;
  grid-template-areas:
    "header aside"
    "main aside";
  height: 100vh;
}

header {
  grid-area: header;
  background: #121214;
  padding-left: 3.6rem;
}

header img {
  margin-top: 5rem;
}

main {
  grid-area: main;
  background: #121214;
  padding: 9.2rem 0 0 3.6rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

section h1 {
  font-family: "Work Sans", sans-serif;
  color: #08c05e;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}

section h2 {
  font-family: "Spartan", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
}

section p {
  font-family: "Spartan", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
}

aside {
  grid-area: aside;
  background: url(./assets/image.png) no-repeat 100% / cover;
}
