* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 72rem 1fr;
  grid-template-rows: 14.4rem 1fr;
  grid-template-areas:
    "header aside"
    "main aside";
  height: 100vh;
}

header {
  grid-area: header;
  background: #121214;
  padding-left: 3.6rem;
}

header img {
  margin-top: 5rem;
}

main {
  grid-area: main;
  background: #121214;
  padding: 9.2rem 0 0 3.6rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

section h1 {
  font-family: "Work Sans", sans-serif;
  color: #08c05e;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}

section h2 {
  font-family: "Spartan", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
}

section p {
  font-family: "Spartan", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;

  width: 79.8rem;
  position: relative;
}

form label {
  font-family: "Spartan", sans-serif;
  color: #a8a8a8;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  cursor: text;
}

#input-button {
  display: flex;
}

#input-button input {
  padding: 1.7rem 0 1.7rem 1rem;
  color: #121214;

  border-left: 5px solid #08c05e;
  outline: none;
  width: 75rem;
  height: 4.8rem;
}

#input-button input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: #6a6a6a;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
}

#input-button button {
  background: #8257e5;
  width: 4.8rem;
  height: 4.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;

  font-family: "Spartan", sans-serif;
  color: #8257e5;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

aside {
  grid-area: aside;
  background: url(./assets/image.png) no-repeat 100% / cover;
}
